* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    color: #d4d9df;
    background-color: #0F172A;
    font-family: Inter, sans-serif;
}

nav{
    background-color: #0F172A;
    color: #d4d9df;
}
.brand {
    font-size: 1.5rem;
    font-weight: 500;
    @media screen and (max-width: 600px){
        font-size: 1.2rem;
    }
}
header{
    background-image: linear-gradient(to bottom, #0F172A,#2D467F);
}
header img{
    width: 30%;
    @media screen and (max-width: 600px){
        width: 50%;
    }
}
h1{
    font-size: 3.9rem;
    font-weight: 700;
    margin-top: 50px;
    @media screen and (max-width: 600px) {
        
            font-size: 2.5rem;
            font-weight: 700;
            margin-top: 50px;
    }
}
header p{
    font-size: 1.5rem;
    font-weight: medium;
    @media screen and (max-width: 600px){
        font-size: 1.3rem;
    }
}
.acerca{
    height: fit-content;
}
section p{
    font-size: 1.2rem;
    font-weight: 400;
}
h2{
    font-size: 2.5rem;
    font-weight: 500;
    @media screen and (max-width: 600px){
        font-size: 2rem;
    }
}
.gradiente{
    background-image: linear-gradient(to bottom, #0F172A,#1E2E54);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#1b98b8;
}
.card:hover .overlay {
    opacity: 90%;
}
  
.text{
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    right: -10%;
    -webkit-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
    text-align: left;
}
.card img{
    border-radius: 2%;
}
.cv span{
    font-style: italic;
    font-weight: 300;
    color:#BACCE0;
}
h6{
    font-size: 1.2rem;
    font-weight: Bold;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

footer{
    height:max-content;
}

footer 
ul {
    list-style-type: none;
    position: relative;
}
footer ul li{
    margin: 1rem;
    
}
footer a{
    text-decoration-color:none;
}
.fa-brands{
    color:#edeff3;
}
a .fa-brands:hover{
    color:#22c0e8;
    font-size: 2em;
}
i:hover{
    color: #22c0e8;
}